<app-breadcrumbs
  [title]="'Lotes'"
  [breadcrumbItems]="[
    { label: 'Inventario' },
    { label: 'Lotes', active: true }
  ]"
>
  <img class="breadcrumbs-icon ms-2 icon-breadcrumb" src="assets/images/svg/provider_icon.svg" style="width: 12vh; height: 12vh;" alt="icono breadcrumb" />
</app-breadcrumbs>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-wrap align-items-center justify-content-between mb-3" *ngIf="!showCreateForm && !showEditForm && !showDetailsForm">
                    <div class="d-flex align-items-center gap-2 mb-2">
                        <button *ngIf="accionPermitida('crear')" type="button" class="btn btn-primary me-2" (click)="crear()">
                            <span class="btn-text">Nuevo</span>
                            <span class="btn-icon"><i class="ri-add-line"></i></span>
                        </button>
                    </div>
                </div>         
            </div>
        </div>
    </div>
</div>